if flash
  #flash-growl(data-type="#{flash.type}", data-msg="#{flash.msg}")
.footer
  .container
    .row
      #footer-copyright.span6
        &copy; #{(new Date()).getFullYear()} Elevator Screen
      #footer-terms.span6.pull-right
        span by EON Media Group