doctype 5
html
  head
    title= title
    link( href="/favicon.ico", rel="shortcut icon")
    link( href="/favicon.gif", rel="icon", type="image/gif")
    link( rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' )
    link( rel='stylesheet', href='/css/bootstrap.min.css' )
    link( rel='stylesheet', href='/css/bootstrap-responsive.min.css' )
    link( rel='stylesheet', href='/css/font-awesome.min.css')
    link( rel='stylesheet', href='/css/ui-lightness/jquery-ui-1.10.0.custom.min.css')
    link( rel='stylesheet', href='/js/plugins/msgGrowl/css/msgGrowl.css')
    link( rel='stylesheet', href='/css/base-admin-2.css')
    link( rel='stylesheet', href='/css/base-admin-2-responsive.css')
    block pages_css
    link( rel='stylesheet', href='/css/style.css' )
    meta( content="width=device-width, initial-scale=1, maximum-scale=1", name="viewport" )
    meta( name="apple-mobile-web-app-capable", content="yes" )
    meta( name="apple-mobile-web-app-status-bar-style", content="black-translucent" )
    block pages_js
    script( data-main="/js/app", src="/js/libs/require.js" )
  body(id="elevator-screen")
      
    block content
    
  // end body